doctype html
html(lang="en")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
  head
    title Uplink Dashboard
  body.bg-dark
    br/
    .container.text-light.text-center
      h2.
        You're not authorized to see this page.

// vim: ft=haml
